// 主要颜色
$primary: #0081ff;
// 成功颜色
$success: #39b54a;
// 错误颜色
$error: #e54d42;
// 警告颜色
$warning: #f37b1d;
// 信息颜色
$info: #909399;
// 边框颜色
$border: #ebedf0;
// 文字颜色
$text-color: #323233;
// 文字浅色
$text-light-color: #969799;
// 白色
$white: #fff;
// 黑色
$blank: #000;
// 红色
$red: #ee0a24;
// 边框颜色
$border: #ebedf0;
// 文字颜色
$text-color: #323233;
// 文字浅色
$text-light-color: #969799;
// 白色
$white: #fff;
// 黑色
$blank: #000;
// 红色
$red: #ee0a24;